<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Manager</title>
</head>
<body>
<div class = "container">
    <div class="card m-4 p-4">
        <div clas="card-body">
            <div class="justify-content-center">
                <h2>Add Manager</h2>
                <br>
                <form th:action="@{/user/addmanajer}" th:object="${manajer}" method="POST">
                    <label>Name</label>
                    <input type="text" name="nama" class="form-control"/>

                    <label>Username</label>
                    <input type="text" name="username" class="form-control"/>

                    <label>Password</label>
                    <input type="password" name="password" class="form-control"/>

<!--                    <label>Role</label>-->
<!--                    <select name="role">-->
<!--                        <option th:each="role : ${T(propensi.sinuansa.SINuansa.model.Role).values()}"-->
<!--                                th:text="${role}"-->
<!--                                th:value="${role}">-->
<!--                        </option>-->
<!--                    </select>-->

                    <label>Cabang</label>
                    <select name="idCabang" th:field="*{cabang}" class="form-control">
                        <div th:each="cabang, iterationStatus : ${listCabang}">
                            <option th:value="${cabang.id}" th:text="${cabang.nama}"></option>
                        </div>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-link" href="@{/user}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>