<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Financial Report</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <div class="flex">
        <button th:replace="fragments/sidebar :: sidebarhead"></button>
        <aside th:replace="fragments/sidebar :: sidebar('Report')"></aside>
        <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
            <section class="container px-4 py-4 mx-auto">
                <div class="sm:flex sm:items-center sm:justify-between m-5">
                    <div>
                        <div class="flex items-center gap-x-3">
                            <h2 class="text-2xl font-bold text-gray-800 ">Reports</h2>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center pt-7">
                    <div class="flex items-center">
                        <div class="relative">
                            <label for="month" class="ml-2 text-lg font-medium text-gray-900">
                                Choose Month
                            </label>
                            <select id="month" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option th:each="months, iterationStatus: ${monthList}" th:text="${months}" th:value="${iterationStatus.count}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="ml-2 relative">
                            <label for="year" class="ml-2 text-lg font-medium text-gray-900">
                                Choose Year
                            </label>
                            <select id="year" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option th:each="years, iterationStatus2: ${yearList}" th:text="${years}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="relative">
                            <button onclick="getValue()" class="ml-7 mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-2 py-2.5 text-center inline-flex items-center">
                                Search
                            </button>
                        </div>
                    </div>
            </div>
            <div class="mb-4 border-b border-gray-200 items-center">
                <ul class="flex flex-wrap -mb-px text-base font-medium text-center items-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg text-gray-600 hover:text-blue-600 border-gray-300" id="pdf-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" onclick="getPDF()">PDF</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg text-gray-600 hover:text-blue-600 border-gray-300" id="line-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false" onclick="getLine()">Line Chart</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg text-gray-600 hover:text-blue-600 border-gray-300" id="bar-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false" onclick="getBar()">Bar Chart</button>
                    </li>
                </ul>
            </div>
            <div id="out-card" class="flex justify-center pt-7">
                <div th:if="${laporanDTO}" id="myTabContent" class="block p-6 bg-white border rounded-lg shadow pt-15">
                    <h3>Please choose the desired report form</h3>
                </div>
                <div id="button-dw"></div>
            </div>
            </section>
        </div>
    </div>
    <script th:inline="javascript">
        function getValue(){
            var yearSelect = document.getElementById("year").value;
            var monthSelect = document.getElementById("month").value;
            var today = new Date();
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "Decemmber"];
            console.log("fungsi");
            if(today.getFullYear()==yearSelect){
                console.log(today.getMonth());
                console.log(monthSelect);
                if(today.getMonth()+1<=monthSelect){
                    console.log("if 2");
                    alert(`The maximum month can be selected for ${yearSelect} is ${months[today.getMonth()-1]}`)
                }
                else{
                    var url = window.location.href;
                    console.log(url);
                    // var urlFixed = url.slice(0, 28);
                    var urlFixed = url.slice(0, 41);
                    console.log(urlFixed);
                    window.location.href = urlFixed + "/" + monthSelect + "/" + yearSelect;
                }
            }
        }


        function getPDF(){
            let element = document.getElementById("pdf-tab");
            let element2 = document.getElementById("line-tab");
            let element3 = document.getElementById("bar-tab");

            element.classList.add("text-blue-600");
            element.classList.add("border-blue-300");
            element.classList.remove("text-gray-600");
            element.classList.remove("border-gray-300");

            element2.classList.remove("text-blue-600");
            element2.classList.remove("border-blue-300");
            element2.classList.add("text-gray-600");
            element2.classList.add("border-gray-300");

            element3.classList.remove("text-blue-600");
            element3.classList.remove("border-blue-300");
            element3.classList.add("text-gray-600");
            element3.classList.add("border-gray-300");

            var dataPDF = [[${laporanDTO}]]
            var laporanItemPP ="";
            var laporanItemHPP="";
            var laporanItemBO ="";
            var laporanItemBL = "";
            for(let i =0; i<3; i++){
                laporanItemPP += `<tr class="border-b-2"> <td> <p>${dataPDF.listTransaksi[i].ref}</p> </td>
                        <td>${dataPDF.listTransaksi[i].total}</td> </tr>`
            }
            for(let i =3; i<5; i++){
                laporanItemHPP += `<tr class="border-b-2"> <td> <p>${dataPDF.listTransaksi[i].ref}</p> </td>
                        <td>${dataPDF.listTransaksi[i].total}</td> </tr>`
            }
            for(let i =5; i<12; i++){
                laporanItemBO += `<tr class="border-b-2"> <td> <p>${dataPDF.listTransaksi[i].ref}</p> </td>
                        <td>${dataPDF.listTransaksi[i].total}</td> </tr>`
            }
            for(let i =12; i<15; i++){
                laporanItemBL += `<tr class="border-b-2"> <td> <p>${dataPDF.listTransaksi[i].ref}</p> </td>
                        <td>${dataPDF.listTransaksi[i].total}</td> </tr>`
            }
            var content = document.getElementById("myTabContent");
            content.classList.add("w-3/4");
            content.innerHTML = "";
            content.innerHTML += `
                <div id="pdf">
                <div>
                    <p class="text-xl font-semibold text-center">${dataPDF.cabang}</p>
                    <p class="text-xl font-semibold text-center">Laba Rugi</p>
                    <p class="text-center">${dataPDF.bulan}  -  ${dataPDF.tahun}</p>
                    <p class="text-center">(dalam IDR)</p>
                    <table style="width:100%">
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-bold text-base">Pendapatan</p> </td>
                            <td></td>
                        </tr>
                        <tr class="border-b-2 border-black-600">
                            <hr>
                            <td> <p class="font-semibold text-base">Pendapatan dari Penjualan</p> </td>
                            <td></td>
                            <hr>
                        </tr>
                        <p class="text-base">${laporanItemPP}</p>
                        <tr class="border-b-2 border-black-600 bg-yellow-300">
                            <td> <p class="font-semibold text-base">Total Pendapatan dari Penjualan</p> </td>
                            <td class="text-base">${dataPDF.totalPendapatanPenjualan}</td>
                        </tr>
                        <tr><td> </td><td> </td></tr>
                        <tr><td> </td><td> </td></tr>
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-semibold text-base">Harga Pokok Penjualan</p> </td>
                            <td class="text-base"></td>
                        </tr>
                        <p class="text-base">${laporanItemHPP}</p>
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-semibold text-base text-red-500">Total Harga Pokok Penjualan</p> </td>
                            <td class="text-base text-red-500">${dataPDF.totalHargaPokokPenjualan}</td>
                        </tr>
                        <tr class="border-b-2 border-black-600 bg-yellow-300">
                            <td> <p class="font-semibold text-base">Laba Kotor</p></td>
                            <td class="text-base">${dataPDF.labaKotor}</td>
                        </tr>
                        <tr><td><p> </p></td><td><p> </p></td></tr>
                        <tr><td> </td><td> </td></tr>
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-semibold text-base">Biaya Operasional</p> </td>
                            <td class="text-base"></td>
                        </tr>
                        <p class="text-base">${laporanItemBO}</p>
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-semibold text-base text-red-500">Total Biaya</p> </td>
                            <td class="text-base text-red-500">${dataPDF.totalBiaya}</td>
                        </tr>
                        <tr class="border-b-2 border-black-600 bg-yellow-300">
                            <td> <p class="font-semibold class="text-base">Pendapatan Bersih Operasional</p> </td>
                            <td class="text-base">${dataPDF.pendapatanBersihOperasional}</td>
                        </tr>
                        <tr><td> </td><td> </td></tr>
                        <tr><td> </td><td> </td></tr>
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-semibold text-base">Biaya Lainnya</p> </td>
                            <td class="text-base"></td>
                        </tr>
                        <p class="text-base">${laporanItemBL}</p>
                        <tr class="border-b-2 border-black-600">
                            <td> <p class="font-semibold text-base text-red-500">Total Biaya Lainnya</p> </td>
                            <td class="text-base text-red-500">${dataPDF.totalBiayaLainnya}</td>
                        </tr>
                        <tr class="border-b-2 border-black-600 bg-yellow-300">
                            <td> <p class="font-semibold text-base">Pendapatan Bersih</p> </td>
                            <td class="text-base">${dataPDF.pendapatanBersih}</td>
                        </tr>
                    </div>
            </div>`

            var outContent = document.getElementById("button-dw");
            outContent.innerHTML = "";
            outContent.innerHTML += `<button class="ml-7 mt-6 h-10 w-fit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-2 py-2.5 text-center inline-flex items-center" onclick="download()">Print</button>`;
        }

        function getLine(){
            let element2 = document.getElementById("pdf-tab");
            let element = document.getElementById("line-tab");
            let element3 = document.getElementById("bar-tab");

            element.classList.add("text-blue-600");
            element.classList.add("border-blue-300");
            element.classList.remove("text-gray-600");
            element.classList.remove("border-gray-300");

            element2.classList.remove("text-blue-600");
            element2.classList.remove("border-blue-300");
            element2.classList.add("text-gray-600");
            element2.classList.add("border-gray-300");

            element3.classList.remove("text-blue-600");
            element3.classList.remove("border-blue-300");
            element3.classList.add("text-gray-600");
            element3.classList.add("border-gray-300");

            var content = document.getElementById("myTabContent");
            content.classList.remove("w-3/4")
            content.innerHTML = `<canvas id="lineChart" width="1000" height="800"></canvas>`;
            var outContent = document.getElementById("button-dw");
            outContent.innerHTML = "";
            const lineChart = document.getElementById("lineChart");
            var dataLine = [[${lineChart}]]
            new Chart(lineChart, {
                type: 'line',
                data: {
                    labels: dataLine.labels,
                    datasets: [{
                        label: "Pendapatan Bersih per Hari",
                        borderColor: "rgb(75, 192, 192)",
                        data: dataLine.data,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function getBar(){
            let element3 = document.getElementById("pdf-tab");
            let element2 = document.getElementById("line-tab");
            let element = document.getElementById("bar-tab");

            element.classList.add("text-blue-600");
            element.classList.add("border-blue-300");
            element.classList.remove("text-gray-600");
            element.classList.remove("border-gray-300");

            element2.classList.remove("text-blue-600");
            element2.classList.remove("border-blue-300");
            element2.classList.add("text-gray-600");
            element2.classList.add("border-gray-300");

            element3.classList.remove("text-blue-600");
            element3.classList.remove("border-blue-300");
            element3.classList.add("text-gray-600");
            element3.classList.add("border-gray-300");

            var content = document.getElementById("myTabContent");
            content.classList.remove("w-3/4");
            var outContent = document.getElementById("button-dw");
            outContent.innerHTML = "";
            content.innerHTML = `<canvas id="lineChart" width"1000" height="800"></canvas>`;
            const barChart = document.getElementById("lineChart");
            var dataBar = [[${barChart}]]
            new Chart(barChart, {
                type: 'bar',
                data: {
                    labels: dataBar.labels,
                    datasets: [{
                        label: "Jumlah Pembelian Bahan Baku Kopi",
                        borderColor: "rgb(75, 192, 192)",
                        backgroundColor: "rgb(75, 192, 192)",
                        borderWidth: 1,
                        data: dataBar.data,
                        clip: false
                    },{
                        label: "Jumlah Pemesanan Bahan Baku Kopi",
                        borderColor: "rgb(255, 153, 255)",
                        backgroundColor: "rgb(255, 153, 255)",
                        borderWidth: 1,
                        data: dataBar.data2,
                        clip: false
                    }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        var data = [[${laporanDTO}]]

        function download() {
            const dateTime = [[${dateTime}]]
            const date = dateTime.substring(0,10);
            const time = dateTime.substring(11,16);
            var pdf = new jsPDF('p', 'mm', 'a4');
            var width = pdf.internal.pageSize.width;
            var height = pdf.internal.pageSize.height;
            pdf.setFont('Helvetica');
            pdf.setFontSize(10);
            pdf.setFont(undefined, 'bold');
            pdf.text(data.cabang, 80, 20, {align:'center'})
            pdf.setFontSize(10);
            pdf.setFont(undefined, 'normal');
            pdf.text('Laba Rugi', 94, 25, {align:'center'});
            pdf.text(data.bulan + " " + data.tahun, 92, 30, {align:'center'});
            pdf.setLineWidth(1);
            pdf.line(width/8, 35, width*7/8, 35);
            pdf.setFont(undefined, 'bold');
            pdf.text('Pendapatan', width/8, 40);
            pdf.setFont(undefined, 'normal');
            pdf.text('Pendapatan dari Penjualan', width/8, 45);
            let pp = 3;
            let hpp = 2;
            let bo = 7;
            let bl = 3;
            for(let i =0; i<pp; i++){
                pdf.text(data.listTransaksi[i].ref, width/8+5, 50+i*5);
                pdf.text(""+data.listTransaksi[i].total, 170, 50+i*5);
                pdf.setLineWidth(0.1);
                pdf.line(width/8, 50+i*5+1.5, width*7/8, 50+i*5+1.5);
            }
            pdf.setFont(undefined, 'bold');
            pdf.text('Total Pendapatan dari Penjualan', width/8, 50+pp*5);
            pdf.text(""+data.totalPendapatanPenjualan, 170, 50+pp*5);
            pdf.setFont(undefined, 'normal');
            pdf.text('Harga Pokok Penjualan', width/8, 60+pp*5);
             for(let i =3; i<hpp+pp; i++){
                pdf.text(data.listTransaksi[i].ref, width/8+5, 65+pp*5+(i-3)*5);
                pdf.text(""+data.listTransaksi[i].total, 170, 65+pp*5+(i-3)*5);
                pdf.setLineWidth(0.1);
                pdf.line(width/8, 65+pp*5+(i-3)*5+1.5, width*7/8, 65+pp*5+(i-3)*5+1.5);
            }
            pdf.setFont(undefined, 'bold');
            pdf.setTextColor(255,0,0);
            pdf.text('Total Harga Pokok Penjualan', width/8, 65+pp*5+hpp*5);
            pdf.text(""+data.totalHargaPokokPenjualan, 170, 65+pp*5+hpp*5);
            pdf.setLineWidth(0.1);
            pdf.line(width/8, 65+pp*5+hpp*5+1.5, width*7/8, 65+pp*5+hpp*5+1.5);
            pdf.setTextColor(0,0,0);
            pdf.text('Laba Kotor', width/8, 70+pp*5+hpp*5);
            pdf.text(""+data.labaKotor, 170, 70+pp*5+hpp*5);
            pdf.setFont(undefined, 'normal');
            pdf.text('Biaya Operasional', width/8, 80+pp*5+hpp*5);
            for(let i =5; i<hpp+pp+bo; i++){
                pdf.text(data.listTransaksi[i].ref, width/8+5, 85+pp*5+hpp*5+(i-5)*5);
                pdf.text(""+data.listTransaksi[i].total, 170, 85+pp*5+hpp*5+(i-5)*5);
                pdf.setLineWidth(0.1);
                pdf.line(width/8, 85+pp*5+(i-3)*5+1.5, width*7/8, 85+pp*5+hpp*5+(i-5)*5+1.5);
            }
            pdf.setFont(undefined, 'bold');
            pdf.setTextColor(255,0,0);
            pdf.text('Total Biaya', width/8, 85+pp*5+hpp*5+bo*5);
            pdf.text(""+data.totalBiaya, 170, 85+pp*5+hpp*5+bo*5);
            pdf.setLineWidth(0.1);
            pdf.line(width/8, 85+pp*5+hpp*5+bo*5+1.5, width*7/8, 85+pp*5+hpp*5+bo*5+1.5);
            pdf.setTextColor(0,0,0);
            pdf.text('Pendapatan Bersih Operasional', width/8, 90+pp*5+hpp*5+bo*5);
            pdf.text(""+data.pendapatanBersihOperasional, 170, 90+pp*5+hpp*5+bo*5);
            pdf.setFont(undefined, 'normal');
            pdf.text('Biaya Lainnya', width/8, 100+pp*5+hpp*5+bo*5);
            for(let i =12; i<hpp+pp+bo+bl; i++){
                pdf.text(data.listTransaksi[i].ref, width/8+5, 105+pp*5+hpp*5+bo*5+(i-12)*5);
                pdf.text(""+data.listTransaksi[i].total, 170, 105+pp*5+hpp*5+bo*5+(i-12)*5);
                pdf.setLineWidth(0.1);
                pdf.line(width/8, 105+pp*5+hpp*5+bo*5+(i-12)*5+1.5, width*7/8, 105+pp*5+hpp*5+bo*5+(i-12)*5+1.5);
            }
            pdf.setFont(undefined, 'bold');
            pdf.setTextColor(255,0,0);
            pdf.text('Total Biaya Lainnya', width/8, 105+pp*5+hpp*5+bo*5+bl*5);
            pdf.text(""+data.totalBiayaLainnya, 170, 105+pp*5+hpp*5+bo*5+bl*5);
            pdf.setLineWidth(0.1);
            pdf.line(width/8,105+pp*5+hpp*5+bo*5+bl*5+1.5, width*7/8, 105+pp*5+hpp*5+bo*5+bl*5+1.5);
            pdf.setTextColor(0,0,0);
            pdf.text('Pendapatan Bersih', width/8, 110+pp*5+hpp*5+bo*5+bl*5);
            pdf.text(""+data.pendapatanBersihOperasional, 170, 110+pp*5+hpp*5+bo*5+bl*5);
            pdf.setFont(undefined, 'normal');
            pdf.text("Last accessed: "+ date + " " + time, 130, height-10);
            pdf.save(`Laporan keuangan ${data.cabang} ${data.bulan} ${data.tahun}`);
    }
    </script>
</body>
</html>