<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
    <title>Menu</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Menus')"></aside>
    <div class="sm:ml-64 bg-slate-200 h-screen w-full">
        <div class="p-10">
            <h1 class="text-3xl">Update Menu</h1>
            <br>
        </div>
        <div class="flex justify-center pt-7">
            <div class="flex items-center">
                <br><br>
                <form th:action="@{/menu/update}" th:object="${menu}" method="POST">

                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{status}"/>
                    <input type="hidden" th:field="*{isShow}"/>
                    <input type="hidden" th:field="*{cabang}"/>

                    Name: <br>
                    <input class="form-control" type="text" th:field="*{nama}"/>
                    <br><br>

                    Price: <br>
                    <input class="form-control" type="number" th:field="*{harga}"/>
                    <br><br>

                    Category: <br>
                    <select th:field="*{kategori}" class="form-control">
                        <option th:value="'Coffee'" th:text="Coffee"></option>
                        <option th:value="'Non-Coffee'" th:text="Non-Coffee"></option>
                    </select>

                    <table class="table">
                        <thead>
                        <th>Ingredients</th>
                        </thead>
                        <tbody>
                        <tr th:each="inventory, iterationStatus : *{resepList}">
                            <td>
                                <select name="id" th:field="*{resepList[__${iterationStatus.index}__].inventory.id}"
                                        class="form-control">
                                    <div th:each="inventoryEx, iterationStatus2 : ${listInventory}">
                                        <option th:value="${inventoryEx.id}" th:text="${inventoryEx.nama}"></option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <input type="hidden" name="id" th:field="*{resepList[__${iterationStatus.index}__].id}" class="form-control">
                                <input class="form-control" type="number" th:field="*{resepList[__${iterationStatus.index}__].jumlah}">
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                                        name="deleteRowUpdate">Delete</button>
                            </td>
                        </tr>
                        <th>
                            <button class="btn btn-info" type="submit" name="addRowUpdate">+ Add Ingredient</button>
                        </th>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit" name="save">Save</button>
                    <a class="btn btn-secondary" href="/menu">Cancel</a>
                </form>
                <br><br>
            </div>


        </div>

    </div>
</div>
</body>
</html>