<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Menu</title>-->
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/datepicker.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.1.min.js"-->
<!--            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" charset="utf8"-->
<!--            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>-->
<!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
<!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
<!--</head>-->
<!--<body>-->
<!--<nav th:replace="fragments/fragment :: navbar(home)"></nav>-->
<!--<div class="flex">-->
<!--    <button th:replace="fragments/sidebar :: sidebarhead"></button>-->
<!--    <aside th:replace="fragments/sidebar :: sidebar('Menus')"></aside>-->
<!--    <div class="sm:ml-64 bg-slate-200 h-screen w-full">-->
<!--        <div class="p-10">-->
<!--            <h1 class="text-3xl">Menu</h1>-->
<!--            <br>-->
<!--            <div class="my-3 d-flex justify-content-center">-->
<!--                <a th:href="@{/menu/add}" class="mx-2 btn btn-primary">Add Menu</a>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="my-3 d-flex justify-content-center">-->
<!--                <a th:href="@{/menu/delete}" class="mx-2 btn btn-primary">Delete Menu</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="flex justify-center pt-7">-->
<!--            <div class="flex items-center">-->
<!--                <br><br>-->
<!--                <table class="table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>No</th>-->
<!--                        <th>Name</th>-->
<!--                        <th>Price</th>-->
<!--                        <th>Status</th>-->
<!--                        <th> </th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="menu, iterationStatus : ${listMenu}">-->
<!--                        <td th:text="${iterationStatus.count}"></td>-->
<!--                        <td th:text="${menu.nama}"></td>-->
<!--                        <td th:text="${menu.harga}"></td>-->
<!--                        <td class="text-center">-->
<!--                            <p th:if="${menu.status} == false" th:text="'Out of Stock'"></p>-->
<!--                            <p th:if="${menu.status} == true" th:text="'Available'"></p>-->
<!--                        </td>-->
<!--                        <td><a class="btn btn-info" th:href="@{/menu}">Edit</a></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--                <br><br>-->
<!--            </div>-->


<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(home)"></nav>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Menus')"></aside>
    <div class="sm:ml-64 bg-slate-200 h-screen w-full">
<section class="container px-4 py-4 mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between m-5">
        <div>
            <div class="flex items-center gap-x-3">
                <h2 class="text-xl font-bold text-gray-800">Menu</h2>
            </div>
        </div>

        <div class="flex items-center mt-4 gap-x-3">
            <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" >
                <a th:href="@{/menu/add}">Add Menu</a>
            </button>
        </div>

        <div class="flex items-center mt-4 gap-x-3">
            <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" >
                <a th:href="@{/menu/}">Delete Menu</a>
            </button>
        </div>

    </div>
    <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">No</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Price</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Edit</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
            <tr th:each="menu, iterationStatus : ${listMenu}" class="hover:bg-gray-50">
                <td class="px-6 py-4">
                    <div class="text-sm font-medium text-gray-700" th:text="${iterationStatus.count}"></div>
                </td>
                <td class="px-6 py-4">
                    <div class="text-sm font-medium text-gray-700" th:text="${menu.nama}"></div>
                </td>
                <td class="px-6 py-4">
                    <div class="text-sm font-medium text-gray-700" th:text="${menu.harga}"></div>
                </td>
                <td class="px-6 py-4">
                    <p class="text-sm font-medium text-gray-700" th:if="${menu.status} == false" th:text="'Out of Stock'"></p>
                    <p class="text-sm font-medium text-gray-700" th:if="${menu.status} == true" th:text="'Available'"></p>
                </td>
                <td class="px-6 py-4"><a class="btn btn-info" th:href="@{/menu}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="flex items-center mt-4 gap-x-3">
        <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" >
            <a th:href="@{/}">Kembali ke Dashboard</a>
        </button>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#SupplierTable').DataTable();
    });
</script>
    </div>
</div>
</body>
</html>