<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Menu</h2>
            </div>
            <br>
            <a class="btn btn-primary" href="/menu/add">Add Menu</a>
            <br><br>
<!--            <table class="table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>No</th>-->
<!--                    <th>Name</th>-->
<!--                    <th>Role</th>-->
<!--                    <th>Cabang</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="user, iterationStatus : ${listUser}">-->
<!--                    <td th:text="${iterationStatus.count}"></td>-->
<!--                    <td th:text="${user.nama}"></td>-->
<!--                    <td th:text="${user.role}"></td>-->
<!--                    <td th:text="${user.cabang.nama}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
    </div>
</div>
</body>
</html>