<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Invoice</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>
<body>
    <div class="bg-slate-200">
        <h1 class="text-3xl">Payment Successful</h1>
        <div th:text="${pembayaran.id}"></div>
        <div class="flex justify-center pt-7">
            <div id="pdf" class="block p-6 bg-white border rounded-lg shadow w-2/4 pt-15">
                <p class="text-xl font-semibold text-center">Store A</p>
                <p class="text-center">Kejayaan No. 2 Krukut, Taman Sari Jakarta Barat, 11140</p>
                <p class="text-center">08229805362</p>
                <hr>
                <table>
                    <tr>
                        <td th:text="${pembayaran.waktuBayar}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Receipt Number</td>
                    </tr>
                    <tr>
                        <td th:text="${pembayaran.id}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="rounded-full" id="exportForm">Print</button>
    </div>
    <script>
    $('#exportForm').click(function () {
            var pdf = new jsPDF('p', 'mm', 'a4');
            let h1 = document.querySelector('#pdf')
            pdf.fromHTML(h1,12,12)
            pdf.setFont('Courier');
            pdf.save("receipt.pdf")
    })
    </script>
</body>
</html>