<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Order')"></aside>
    <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <div>
                    <a th:href="@{/payment/option/} + ${pesananCustomer.id}">
                        <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white
                        transition-colors duration-200 bg-gray-700 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-900"
                                th:text="'Back to Payment Options'"></button>
                    </a>
                </div>
            </div>

            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <div class="flex items-center gap-x-3">
                    <h2 class="text-2xl font-bold text-gray-800">Payment Order</h2>
                </div>
            </div>

            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <p class="font-bold text-gray-800" th:text="'Date      : ' + ${#temporals.format(pesananCustomer.waktu, 'dd MMMM yyyy')}"></p>
            </div>
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <p class="font-bold text-gray-800"th:text="'Nominal    : ' + ${totalHarga}"></p>
            </div>
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <form id="calculation" th:action="@{/payment/success/tunai/Tunai/}+${pesananCustomer.id}">
                    <div class="sm:flex sm:items-center sm:justify-between m-5">
                        <label for="inputCash" class="font-semibold text-gray-800">Input Cash: </label>
                        <input name="inputCash" type="number" id="inputCash"/>
                    </div>

                    <div class="sm:flex sm:items-center sm:justify-between m-5">
                        <button id="check" class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-green-600
                        rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-450">Check Changes</button>
                    </div>

                    <div class="sm:flex sm:items-center sm:justify-between m-5">
                        <p id="res" class="font-semibold text-red-700"></p>
                    </div>
                    <div id="confirm" class="sm:flex sm:items-center sm:justify-between m-5">
                        <button disabled class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-gray-500 rounded-lg shrink-0 sm:w-auto gap-x-2">
                            Confirm
                        </button>
                    </div>
                </form>

            </div>
        </section>
        <script>
            document.getElementById("check").addEventListener("click", function() {
                event.preventDefault();
                var inputCash = document.getElementById('inputCash').value;
                var totalHarga = [[${totalHarga}]]
                var res = eval('inputCash - totalHarga');

                if (res < 0) {
                    document.getElementById('confirm').innerHTML = `<button disabled class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-gray-500 rounded-lg shrink-0 sm:w-auto gap-x-2">
                Confirm</button>`
                    document.getElementById('res').textContent = 'Insufficient cash. Check your input or try with bigger amount of cash!'
                } else {
                    document.getElementById('confirm').innerHTML =
                    `<button type="submit" class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600">
                    Confirm </button>
                    `
                    document.getElementById('res').textContent = 'Changes: ' + res;
                }
            })
        </script>
    </div>
</div>
</body>
</html>