<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINUANSA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Orders')"></aside>
    <div class="sm:ml-64 bg-slate-200 h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="card m-4 p-4">
                <div class="card-body">
                    <div class="justify-content-center">
                        <h2 class="text-2xl text-gray-900 flex-auto">Create Order</h2>
                    </div>
                </div>
                <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
                    <br>
                    <form th:action="@{/orderinventory/create}" th:object="${entryPI}" method="POST">
<!--                        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">-->
<!--                            <thead>-->
<!--                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Order Inventory</th>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr th:each="inv, iterationStatus : *{entryPI}">-->
<!--                                <td>-->
<!--                                    <select name="id" th:field="*{entryPI[__${iterationStatus.index}__].inv.idInventory}"-->
<!--                                            class="form-control">-->
<!--                                        <div th:each="invEx, iterationStatus2 : ${listInventory}">-->
<!--                                            <option th:value="${invEx.id}" th:text="${invEx.nama}"></option>-->
<!--                                        </div>-->
<!--                                    </select>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <h4>Quantity</h4>-->
<!--                                    <input class="form-control" type="number" th:field="*{entryPI[__${iterationStatus.index}__].jumlah}"/>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <h4>Price</h4>-->
<!--                                    <input class="form-control" type="number" th:field="*{entryPI[__${iterationStatus.index}__].hargaItem}"/>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"-->
<!--                                            name="deleteRow">Hapus</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--&lt;!&ndash;                            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button class="btn btn-primary" type="submit" name="addInventory">Tambah Ke Keranjang</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </td>&ndash;&gt;-->
<!--&lt;!&ndash;                            </tr>&ndash;&gt;-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                        <div class="flex items-center mt-4 gap-x-3">-->
<!--                            <button class="btn btn-primary" type="submit" name="preview">Preview Cart</button>-->
<!--                            <a class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-gray-900 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-white dark:hover:bg-gray-400 dark:bg-gray-600" href="/orderinventory/all">Back</a>-->
<!--                        </div>-->
                            <h2>Inventory List</h2>
                            <select class="form-control" id="idInventory">
                                <option th:each="inventory : ${listInventory}" th:value="${inventory}" th:text="${inventory.nama}"></option>
                            </select>
                            <br><br>

                            Quantity: <br>
                            <input class="form-control" type="number" th:field="*{kuantitas}"/>
                            <br><br>

                            Price: <br>
                            <input class="form-control" type="number" th:field="*{harga}"/>
                            <br><br>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</div>
</body>
</html>