<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Factory')"></aside>
    <div class="sm:ml-64 bg-slate-200 h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <div>
                    <div class="flex items-center gap-x-3 mt-0">
                        <h2 class="text-xl font-bold text-gray-800">List Factory Order</h2>
                    </div>
                </div>
                <div class="flex items-center justify-center mt-4 mx-auto gap-x-16">
                    <a th:href="@{/orderfactory/all}">
                        <button class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
                        th:text="'All Store'"></button>
                    </a>
                    <a th:href="@{/orderfactory/1}">
                        <button class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
                                th:text="'Store Gajah Mada'"></button>
                    </a>
                    <a th:href="@{/orderfactory/2}">
                        <button class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
                                th:text="'Store Cawang Kavling'"></button>
                    </a>
                    <a th:href="@{/orderfactory/3}">
                        <button class="flex items-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-300 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
                                th:text="'Store Bandung'"></button>
                    </a>
                </div>
            </div>
            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5" th:if="*{listPesanan.size() != 0}">
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-4 font-bold text-gray-900">Date</th>
                        <th scope="col" class="px-6 py-4 font-bold text-gray-900">Order ID</th>
                        <th scope="col" class="px-6 py-4 font-bold text-gray-900">Store</th>
                        <th scope="col" class="px-6 py-4 font-bold text-gray-900">Status</th>
                        <th scope="col" class="px-6 py-4 font-normal text-white"></th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    <tr th:each="po, iterationStatus : ${listPesanan}" class="hover:bg-gray-50">
                        <td class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                            <div class="text-sm font-medium text-gray-600" th:text="${#temporals.format(po.waktuPemesanan, 'dd MMMM yyyy')}"></div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-sm font-medium text-gray-600" th:text="${po.kode}"></div>
                        </td>
                        <td class="px-6 py-4">
                            <p class="text-sm font-medium text-gray-600" th:if="${po.cabang.id} == 1" th:text="'Store A'"></p>
                            <p class="text-sm font-medium text-gray-600" th:if="${po.cabang.id} == 2" th:text="'Store B'"></p>
                            <p class="text-sm font-medium text-gray-600" th:if="${po.cabang.id} == 3" th:text="'Store C'"></p>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-sm font-medium text-gray-600" th:text="${po.status}"></div>
                        </td>
                        <td class="px-6 py-4">
                            <a class="text-sm font-medium text-blue-500"  th:href="@{/orderfactory/detail/} + ${po.id}">Detail</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex items-center gap-x-3 mt-0 py-8" th:unless="*{listPesanan.size() != 0}">
                <h3 class="text-l font-bold text-gray-800" th:text="'No Factory Order Found in This Store'"></h3>
            </div>

        </section>
    </div>
</div>
</body>
</html>