<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
</head>
<body>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Order')"></aside>
    <div class="sm:ml-64 bg-slate-200 h-screen w-full">
        <div class="p-10">
            <h1 class="text-3xl">Confirm your Order</h1>
        </div>
        <div class="flex justify-center pt-7">
            <div id="pdf" class="block p-6 bg-white border rounded-lg shadow w-2/4 pt-15">
                <table style="width:100%">
                    <tr>
                        <td>Order Number</td>
                    </tr>
                    <tr>
                        <td th:text="${pesananCustomer.id}"></td>
                    </tr>
                    <tr></tr>
                    <tr style="border-bottom: 1px solid #000;">
                    <tr></tr>
                    <tr th:each="item, iterationStatus : ${namaMenu}">
                        <td th:text="${item}" style="text-align:left"></td>
                        <td th:text="${jumlahMenu[__${iterationStatus.index}__]} + @{ x } + ${hargaMenu[__${iterationStatus.index}__]}" style="text-align:right"></td>
                        <td th:text="${totalHargaMenu[__${iterationStatus.index}__]}" style="text-align:right"></td>
                    </tr>
                    <tr></tr>
                    <tr style="border-bottom: 1px solid #000;">
                    <tr></tr>
                    <tr>
                        <td><p class="font-semibold" style="text-align:left">Subtotal</p></td>
                        <td></td>
                        <td><p class="font-semibold" th:text="${subtotal_harga}" style="text-align:right"></p></td>
                    </tr>
                    <tr th:if="${isDiskon}">
                        <td><p class="font-semibold" style="text-align:left">Diskon</p></td>
                        <td></td>
                        <td><p class="font-semibold" th:text="${diskon}" style="text-align:right"></p></td>
                    </tr>
                    <tr style="border-bottom: 1px solid #000;"></tr>
                    <tr>
                        <td><p class="font-semibold" style="text-align:left">Total</p></td>
                        <td></td>
                        <td><p class="font-semibold" th:text="${total_harga}" style="text-align:right"></p></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="flex justify-center pt-7">
            <a class="rounded-full bg-stone-400 px-5 text-lg" th:href="@{/payment/option/} + ${pesananCustomer.id}">Continue to Payment</a>
        </div>
    </div>
</div>
</body>
</html>